:root {
    --main-font-roboto: Roboto, sans-serif;
    --font-size-1: 3rem;
    --font-size-2: 1.3125rem;

    --color-darkgreen: #23424a;
    --color-mediumgreen: #136C72;
    --color-lightgreen: #38CFD9;
}

main {
    width: 70%;
    padding: 6rem;
    margin: 0 auto;
    background-color: var(--color-darkgreen);
}

.page-blurb {
    width: 60%;
}
h1 {
    color: #fff;
    font-family: var(--main-font-roboto), sans-serif;
    font-size: var(--font-size-1);
}

p {
    color: #d1cdcd;
    font-family: var(--main-font-roboto), sans-serif;
    font-size: var(--font-size-2);
    margin-bottom: 4rem;
    font-weight: normal;
    line-height: 150%;
}

button {
    --button-height: 2.5em;
    height: var(--button-height);
    all:unset;
    background-color: var(--color-lightgreen);
    padding: 1rem 2.5rem;
    font-weight: 700;
    border-radius: calc(var(--button-height) / 2);

    font-family: var(--main-font-roboto), sans-serif;
    font-size: var(--font-size-2);
}